    {{> header}}
    <h1> {{ pageTitle }} </h1>
    {{> nav}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">{{ jumboTron.heading }}</h1>
            <p class="lead">{{ jumboTron.content }}</p>
        </div>
    </div>
    <div class="row">
        <p>{{ screamIt messageToScream}}</p>
    </div>
   {{> footer}}